* {
 box-sizing: border-box;


}

input:focus {
  color: red;
}

textarea:focus {
  color: red;
}

select:focus {
  color: red;
}

header{
  width:100%;

}

.code {
 color: white;
 background-color: black;
 text-align:center;
 padding: 1em;
 margin-bottom: 2em;
 margin-right: -10px;
 margin-left: -10px;
 margin-top: -10px;
}

.signup {
  text-align: center;
}

.news {
 color: grey;
 text-align: center;
 border-bottom: double;
 border-color: black;
 padding-bottom: 30px;
}

.contact {
  /* padding-left: 160px; */
  padding-bottom: 10px;
}

.form-wrap{
  text-align: center;
}
.input-field{
  width:50%;
  height: 35px;
  margin-left: -1em;
  background-color: #EFF1F1;
  border-radius: 5px;
  padding-right: 15px;
}
::placeholder{
  text-align: right;
}


.input-wrap{
  margin-bottom: 15px;

}

.input-label{
  text-align: left;
}

.news-letter-wrap{
  text-align: left;
}

 /* input checkbox{
float:left;
} * */

 .checksandradio{
  display: block;
}
.cnr{
  float: left;
  margin-right: 10px;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: #EFF1F1;
}

label {
    display: block;
    margin-bottom: 10px;

}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: teal;
}

.favorite{
  width:100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

small{
  text-align: center;
}

@media (min-width: 768px) {

  body{
    width:100%;
  }
  .body-wrap{
    /* width: 50%; */
    margin-right: 25%;
    margin-left: 25%;
  }

  .input-wrap{
    display:block;

  }
  .input-field{
    width: 50%;
    height: 35px;
    /* margin-left: -1em; */
    background-color: #EFF1F1;
    border-radius: 5px;
    padding-right: 15px;
  }



  .input-label{
    width: 30%;
    float:left;
  margin-right: 10px;
  }

  textarea{
    background-color: #EFF1F1;
  }



}
